
*{
    margin: 0px;
    padding: 0px;
}
body{
    background-image: url(https://images.unsplash.com/photo-1505740420928-5e560c06d30e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8NHx8fGVufDB8fHx8&w=1000&q=80);)
    background-position:100px 0px;
    filter:blur(1000);
}
.container{
    border: 3px solid black;
    height: 490px;
    width: 498px;
    margin: auto;
    transform: translate(0,110px);
    border-radius: 5px;
    background-color: rgba(128, 128, 128, 0.664);
}
#box1{
    height: 30px;
    background-color:rgba(247, 19, 19, 0.945);
    margin:-1px;
    }
   #box1 h3{
    color: white;
    text-align: center;
    font-weight:bolder;
    position: relative;
    top: 4px;
   } 
   .input{
       width: 50%;
       margin: auto;
       position: relative;
       top:90px;
       border: 2px solid black;
       padding: 20px;
       border-radius: 5px;
   }
   .submit{
      position: relative;
      left: 45px;
      top: 2px;
   }
   footer{
       background-color: rgba(247, 19, 19, 0.945);
       height: 100px;
       position: relative;
       top: 178.4px;
       margin: -1px;
       border-radius: 3px;
   }
   footer p{
       color: white;
       position: relative;
       top: 8px;
       text-align: center;
   }