#img1{
    width: 300px;
}
#img2{
    width: 300px;
}
#img3{
    width: 300px;
}
#img4{
    width: 300px;
}
#img5{
    width: 300px;
}
#photo1{
    width: 300px;
}
#photo2{
    width: 300px;
}
#photo3{
    width: 300px;
}
#photo4{
    width: 300px;
}
#photo5{
    width: 300px;
}
#photo6{
    width: 300px;
}
#photo7{
    width: 300px;
}
#photo8{
    width: 300px;
}
#navid1{
    width: 295px;
}
#last3{
    right: 10px;
}
.container{
    width: 300px;
}
#navid{
    width: 1516px;
}
.end{
    width: 1538px;
    position: relative;
    top: 360px;


}
#box2{
    float:none;
    position: relative;
    left: 725px;
    top: 59px;
}
#navid1{
    width: 735px;
    margin: unset;
    position: relative;
    left: 400px;
    
}
